body{
    background: white;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
}
form{
    background-color: white;
    box-sizing: border-box;
    padding: 30px;
    margin: 25px;
    border: 3px solid blue;
    border-radius: 0;
}
h1{
    font-size: 28px;
    color: yellow;
}
h1:hover{
    font-size: 28px;
    color: blue
}
#count-el{
    font-size: 100px;
    color: steelblue;
}
#increment-btn{
    font-size: 18px;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    background-color: red;
    color: #fff;
}
#save-btn{
    font-size: 18px;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    background-color: green;
    color: #fff;
}
#save-el{
   font-size: 18px;
   border: 3px dashed green;
   
}
#remove-btn{
    font-size: 18px;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    background-color: steelblue;
    color: #fff;

}
#date-btn{
    color: chartreuse;
    background: red;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}